/* CSS Document */
@font-face {
    font-family: 'OpenSansCondensedLight';
    src: url('../fonts/OpenSans-CondLight-webfont.eot');
    src: url('../fonts/OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-CondLight-webfont.woff') format('woff'),
    url('../fonts/OpenSans-CondLight-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-CondLight-webfont.svg#OpenSansCondensedLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansCondensedLightItalic';
    src: url('../fonts/OpenSans-CondLightItalic-webfont.eot');
    src: url('../fonts/OpenSans-CondLightItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-CondLightItalic-webfont.woff') format('woff'),
    url('../fonts/OpenSans-CondLightItalic-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-CondLightItalic-webfont.svg#OpenSansCondensedLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansCondensedBold';
    src: url('../fonts/OpenSans-CondBold-webfont.eot');
    src: url('../fonts/OpenSans-CondBold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-CondBold-webfont.woff') format('woff'),
    url('../fonts/OpenSans-CondBold-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-CondBold-webfont.svg#OpenSansCondensedBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
    background: #fff;
}

body {
    font-size: 80%;
    font-family: OpenSansCondensedLight, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
    color: #404040;
}

table td,
table th {
    padding: 10px;
}

strong {
    font-weight: bold;
}

.reset {
    clear: both;
}

.red {
    color: #CA1616;
}

.orange {
    color: #ff9000;
}

.green {
    color: #47b41c;
}

.aright {
    text-align: right;
}

.aleft {
    text-align: left;
}

.bigger {
    font-size: 1.2em;
}

.black {
    color: #000;
}

h1 {
    border-bottom: 1px solid #e7e7e7;
    float: left;
    text-shadow: 2px 2px 0 #fff;
    font-family: OpenSansCondensedBold;
    font-weight: bold;
    font-size: 2.2em;
    padding-bottom: 8px;
    margin-bottom: 20px;
}

h1 span,
h2 span,
h3 span {
    color: #CA1616;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 15px;
}

p {
    padding: 10px;
    line-height: 1.7em;
}

.col {
    width: 49%;
    border-right: 1px solid #e7e7e7;
}

.sum-col {
    width: 55%;
    border-right: 1px solid #e7e7e7;
}

.col-left {
    float: left;
}

.col-right {
    float: right;
}

.col-no-border {
    border: none;
}

.cols {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.fudaje td {
    padding: 3px 10px;
}

table.classic td {
    padding-left: 10px;
    border-top: 1px solid #E7E7E7;
}

table.classic th {
    color: #000;
}

table.classic th.tiny, table.classic td.tiny{
    width: 5px;
}

table.classic .last td {
    font-size: 1.4em;
}
.regular {
    color: #000;
    font-size: 1.2em;
}
.footer {
    position: absolute;
    bottom: 60px;
    color: #8d8d8d;
    left: 60px;
    font-size: 0.8em;
}


.pull-right{
    float: right;
}

.center{
    text-align: center;
}
