<!DOCTYPE html>
<html lang="cs">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
</head>
<body>
<h1 class="aright">{$invoice->form} č. <span class="red">{$invoice->number}</span></h1>
<div class="cols">
    <div class="col col-left">
        <h3>Dodavatel<span class="red">:</span></h3>
        <table class="fudaje" width="100%">
            {if $company->name}
                <tr>
                    <td colspan="2" class="bigger black">{$company->name}</td>
                </tr>
            {/if}
            <tr>
                <td colspan="2" class="bigger black">{$company->name}</td>
            </tr>
            <tr>
                <td colspan="2">{$company->street}</td>
            </tr>
            <tr>
                <td colspan="2">{$company->zip} {$company->city}</td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr n:if="$company->tin">
                <td>IČ:</td>
                <td>{$company->tin}</td>
            </tr>
            {if  $company->vaTin}
                <tr>
                    <td>DIČ:</td>
                    <td>{$company->vaTin}</td>
                </tr>
            {else}
                <tr>
                    <td class="black" colspan="2">Neplátce DPH</td>
                </tr>
            {/if}
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td>Bankovní spojení:</td>
                <td class="red">mBank</td>
            </tr>
            <tr>
                <td>Číslo účtu</td>
                <td class="red">{$company->accountNumber}</td>
            </tr>
            <tr>
                <td>Variabilní symbol</td>
                <td class="red">{$invoice->number}</td>
            </tr>

        </table>
    </div>
    <div class="col col-right col-no-border">
        <h3>Odběratel<span class="red">:</span></h3>
        <table class="fudaje" width="100%">
            {if $customer->company}
                <tr>
                    <td colspan="2" class="bigger black">{$customer->company}</td>
                </tr>
            {/if}
            <tr>
                <td colspan="2" class="bigger black">{$customer->name}</td>
            </tr>
            <tr>
                <td colspan="2">{$customer->street}</td>
            </tr>
            <tr>
                <td colspan="2">{$customer->zip} {$customer->city}</td>
            </tr>
            {if !$customer->company}nepl
                <td colspan="2">&nbsp;</td>
                </tr>
            {/if}
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            {if !$customer->tin}
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            {else}
                <tr>
                    <td>IČ:</td>
                    <td>{$customer->tin}</td>
                </tr>
            {/if}
            {if !$customer->vaTin}
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            {else}
                <tr>
                    <td>DIČ:</td>
                    <td>{$customer->vaTin}</td>
                </tr>
            {/if}
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td>Způsob platby</td>
                <td>{$invoice->order->paymentInformation->paymentMethod}</td>
            </tr>
            <tr>
                <td>Datum vystavení:</td>
                <td>{$invoice->order->created|date:'%d. %m. %Y'}</td>
            </tr>
            <tr>
                <td>Datum splatnosti:</td>
                <td class="red">{$invoice->order->dueDate|date:'%d. %m. %Y'}</td>
            </tr>
            <tr n:if="$invoice->taxableDate">
                <td>Datum zdanitelného plnění:</td>
                <td class="red">{$invoice->taxableDate|date:'%d. %m. %Y'}</td>
            </tr>
        </table>
    </div>
    <div class="reset"><!-- --></div>
</div>
<br/>

</body>
</html>