<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
</head>
<body>
<h1 class="aright">{$invoice->form} č. <span class="red">{$invoice->number}</span></h1>
<div class="cols">
    <div class="col col-left">
        <h3>{_'supplier'}<span class="red">:</span></h3>
        <table class="fudaje" width="100%">
            {if $company->name}
                <tr>
                    <td colspan="2" class="bigger black">{$company->name}</td>
                </tr>
            {/if}

            <tr>
                <td colspan="2">{$company->street}</td>
            </tr>
            <tr>
                <td colspan="2">{$company->zip} {$company->city}</td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr n:if="$company->tin">
                <td>{_'tin'}:</td>
                <td>{$company->tin}</td>
            </tr>
            {if  $company->vaTin}
                <tr>
                    <td>{_'va_tin'}:</td>
                    <td>{$company->vaTin}</td>
                </tr>
            {else}
                <tr>
                    <td class="black" colspan="2">{_'vat_not_payer'}/td>
                </tr>
            {/if}
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td>{_'bank_account'}:</td>
                <td class="red">{$company->bank}</td>
            </tr>
            <tr>
                <td>{_'bank_account_number'}</td>
                <td class="red">{$company->accountNumber}</td>
            </tr>
            <tr n:if="$order->account->swift">
                <td>{_'swift'}</td>
                <td class="red">{$order->account->swift}</td>
            </tr>
            <tr n:if="$order->account->iBan">
                <td>{_'iban'}</td>
                <td class="red">{$order->account->iBan}</td>
            </tr>
            <tr>
                <td>{_'variable_symbol'}</td>
                <td class="red">{$invoice->order->paymentInformation->variableSymbol}</td>
            </tr>

        </table>
    </div>
    <div class="col col-right col-no-border">
        <h3>{_'subscriber'}<span class="red">:</span></h3>
        <table class="fudaje" width="100%">


            <tr n:if="$customer->company">
                <td colspan="2" class="bigger black">{$customer->company}</td>
            </tr>

            <tr n:if="$customer->name">
                <td colspan="2">{$customer->name}</td>
            </tr>

            <tr>
                <td colspan="2">{$customer->street}</td>
            </tr>
            <tr>
                <td colspan="2">{$customer->zip} {$customer->city}</td>
            </tr>
            {if !$customer->company}
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            {/if}
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            {if !$customer->tin}
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            {else}
                <tr>
                    <td>{_'tin'}:</td>
                    <td>{$customer->tin}</td>
                </tr>
            {/if}
            {if !$customer->vaTin}
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            {else}
                <tr>
                    <td>{_'va_tin'}:</td>
                    <td>{$customer->vaTin}</td>
                </tr>
            {/if}
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td>{_'payment_method'}</td>
                <td>{$invoice->order->paymentInformation->paymentMethod}</td>
            </tr>
            <tr>
                <td>{_'date_of_issue'}:</td>
                <td>{$invoice->order->created|date:'%d. %m. %Y'}</td>
            </tr>
            <tr>
                <td>{_'due_date'}:</td>
                <td class="red">{$invoice->order->dueDate|date:'%d. %m. %Y'}</td>
            </tr>
            <tr n:if="$invoice->taxableDate">
                <td>{_'taxable_date'}:</td>
                <td class="red">{$invoice->taxableDate|date:'%d. %m. %Y'}</td>
            </tr>
        </table>
    </div>
    <div class="reset"><!-- --></div>
</div>
<div n:if="$invoice->paidFromRequest" class="center">
    <h3 class="red">{_'paid_from_request'}</h3>
</div>
<div style="border-bottom:1px solid #e7e7e7;"></div>

{if count($order->items)}
    {foreach $order->items as $item}
        {first}
            {var $total_price = 0}

            <table width="100%" class="classic">
            <thead>
            <tr>
                <th class="tiny aleft">&nbsp;</th>

                <th class="aleft" colspan="2">{_'item'}</th>
                <th class="aleft">{_'amount'}</th>

                <th class="aleft">{_'unit_price'}</th>
                <th class="aleft" n:if="$company->hasTax" >
                    {_'tax'} {$order->paymentInformation->tax * 100|percent}
                </th>
                <th class="aleft">{_'total'}</th>


                <th class="aright">
                    {_'price_tax'}
                </th>
            </tr>
            </thead>
        {/first}
    {var $total_price = $total_price + $item->count * $item->price}
        <tr>
            <td class="aleft" width="20">{$iterator->counter}.</td>
            <td class="aleft" colspan="2">{$item->name}</td>
            <td class="aleft">{$item->count}</td>
            <td class="aleft">{$item->price|price|number:2:',':' '|money}</td>
            <td class="aleft" n:if="$company->hasTax" >
                {$item->price * $item->count|tax|number:2:',':' '|money}
            </td>
            <td class="aleft">{$item->count * $item->price|price|number:2:',':' '|money}</td>


            <td class="aright">
                {$item->price * $item->count|price|plus_tax|number:2:',':' '|money}
            </td>
        </tr>
        {last}
            {*<tr class="last">
                <td colspan="3">&nbsp;</td>
                <td class="black">Celkem</td>
                <td class="red">{$total_price|number:2:',':' '|money}</td>
            </tr>*}
            <tr class="total">
                {if $company->hasTax}
                    <td colspan="5">{_'sum'}</td>
                {else}
                    <td colspan="5">{_'sum'}</td>
                {/if}
                <td n:if="$company->hasTax">
                    {$order->getTotal()|tax|number:2:',':' '|money}
                </td>
                <td >
                    {$order->getTotal()|price|number:2:',':' '|money}
                </td>


                <td class="aright">
                    {$order->getTotal()|price|plus_tax|number:2:',':' '|money}
                </td>

            </tr>
            <tr class="total" n:if="$company->hasTax">

                <td colspan="7">{_'round'}</td>


                <td class="aright">

                    {$order->getTotal()|price|plus_tax|rest|money}
                </td>
            </tr>
            <tr class="last">
                {if $company->hasTax}
                    <td colspan="7">{_'total_to_pay'}</td>
                {else}
                    <td colspan="6">{_'total_to_pay'}</td>
                {/if}
                <td class="aright">
                    {$order->getTotal()|price|plus_tax|round_up|number:0:',':' '|money}
                </td>
            </tr>
            </table>
        {/last}
    {/foreach}

{/if}

<br/><br/>

<div n:if="$company->hasTax" class="cols pull-right">
    <div class="sum-col col-right pull-right">
        <h3>{_'vat_recap'}</h3>
        <table>
            <thead>
            <tr>
                <th class="aleft">
                    {_'rate'}
                </th>
                <th class="aleft">
                    {_'tax_base'}
                </th>
                <th class="aleft">
                    {_'tax'}
                </th>
                <th class="aleft">
                    {_'total_vat'}
                </th>
            </tr>

            </thead>
            <tbody>
            <tr>
                <td class="aleft">
                    {$order->paymentInformation->tax * 100|percent}
                </td>
                <td class="aleft">
                    {$order->getTotal()|number:2:',':' '|money}
                </td>
                <td class="aleft">
                    {$order->getTotal()|tax|number:2:',':' '|money}
                </td>
                <td class="aleft">
                    {$order->getTotal()|plus_tax|number:2:',':' '|money}
                </td>


            </tr>
            </tbody>
        </table>
        <p n:if="!$order->paymentInformation->tax">{_'customer_pay_vat'}</p>
    </div>


</div>

<div class="footer">
    <div class="regular">
        {_'exposed'}: {$invoice->config->name}
    </div>

    {$invoice->config->footerText|noescape}

</div>
<br/>
</body>
</html>
