<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{$invoice->number}</title>

    <style>
        .invoice-box {
            max-width: 800px;
            margin: auto;
            padding: 30px;
            border: 1px solid #eee;
            box-shadow: 0 0 10px rgba(0, 0, 0, .15);
            font-size: 16px;
            line-height: 24px;
            font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
            color: #555;
        }

        .invoice-box table {
            width: 100%;
            line-height: inherit;
            text-align: left;
        }

        .invoice-box table td {
            padding: 5px;
            vertical-align: top;
        }

        .invoice-box table tr td:nth-child(2) {
            text-align: right;
        }

        .invoice-box table tr.top table td {
            padding-bottom: 20px;
        }

        .invoice-box table tr.top table td.title {
            font-size: 45px;
            line-height: 45px;
            color: #333;
        }

        .invoice-box table tr.information table td {
            padding-bottom: 40px;
        }

        .invoice-box table tr.heading td {
            background: #eee;
            border-bottom: 1px solid #ddd;
            font-weight: bold;
        }

        .invoice-box table tr.details td {
            padding-bottom: 20px;
        }

        .invoice-box table tr.item td {
            border-bottom: 1px solid #eee;
        }

        .invoice-box table tr.item.last td {
            border-bottom: none;
        }

        .invoice-box table tr.total td:nth-child(2) {
            border-top: 2px solid #eee;
            font-weight: bold;
        }

        @media only screen and (max-width: 600px) {
            .invoice-box table tr.top table td {
                width: 100%;
                display: block;
                text-align: center;
            }

            .invoice-box table tr.information table td {
                width: 100%;
                display: block;
                text-align: center;
            }
        }
    </style>
</head>

<body>
<div class="invoice-box">
    <table cellpadding="0" cellspacing="0">
        <tr class="top">
            <td colspan="2">
                <table>
                    <tr>
                        <td class="title">
                            {*<img src="" alt="logo" style="width:100%; max-width:300px;">*}
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            {_'invoice'}: #{$invoice->number}<br>
                            {_'created'}: {$invoice->order->created|date: 'j. n. Y'}<br>
                            {_'due'}: {$invoice->order->dueDate|date: 'j. n. Y'}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="information">
            <td colspan="2">
                <table>
                    <tr>
                        <td>
                            {_'supplier'}:<br>
                            {$company->name}<br>
                            {$company->street}<br>
                            {$company->city}<br>
                        </td>
                        <td></td>
                        <td></td>

                        <td>
                            {_'subscriber'}:<br>
                            {$customer->name}<br>
                            {$customer->street}<br>
                            {$customer->city}<br>
                            {$customer->country}<br>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>


        <tr class="heading">
            <td>
                {_'item'}
            </td>

            <td>
                {_'count'}
            </td>

            <td>
                {_'price'}
            </td>
            <td>
                {_'tax'} {$order->paymentInformation->tax * 100|percent}
            </td>
            <td n:if="$order->paymentInformation->tax">
                {_'price_tax'}
            </td>
        </tr>

        <tr n:foreach="$order->items as $item" class="item">
            <td>
                {$item->name}
            </td>

            <td>
                {$item->count}
            </td>

            <td>
                {$item->price|number:2:',':' '|money}
            </td>
            <td>
                {$item->price|tax|number:2:',':' '|money}
            </td>
            <td n:if="$order->paymentInformation->tax">
                {$item->price|plus_tax|number:2:',':' '|money}
            </td>
        </tr>


        <tr class="total">
            <td>Součet</td>
            <td></td>
            <td>
                {$order->getTotal()|number:2:',':' '|money}
            </td>
            <td>
                {$order->getTotal()|tax|number:2:',':' '|money}
            </td>
            <td>
                {$order->getTotal()|plus_tax|number:2:',':' '|money}
            </td>

        </tr>
        <tr class="total">
            <td>Zaokrouhlení</td>

        </tr>
        <tr class="total">
            <td>Celkem k úhradě</td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                {$order->getTotal()|plus_tax|number:0:',':' '|money}
            </td>
        </tr>
    </table>

    <table>
        <thead>
        <tr>
            <th>
                Sazba
            </th>
            <th>
                Základ daně
            </th>
            <th>
                {_'tax'}
            </th>
        </tr>

        </thead>
        <tbody>
        <tr>
            <td>
                {$order->paymentInformation->tax * 100|percent}
            </td>
            <td>
                {$order->getTotal()|number:2:',':' '|money}
            </td>
            <td>
                {$order->getTotal()|tax|number:2:',':' '|money}
            </td>

        </tr>
        </tbody>
    </table>


</div>
</body>
</html>
